/* background color  #FFFFFF; */
/* secondary background color #F5F4FA; */
/* hero text color #FFFFFF; */
/* main color text  color: #212121  */
/* secondary color text #757575; */
/* footer color #2F303A; */
/* footer text color 
#FFFFFF;
rgba(255, 255, 255, 0.6);
rgba(255, 255, 255, 0.4);
 */

body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
}

ul {
  list-style: none;
}

/* header */
.list {
  text-decoration: none;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #2196f3;
}

.logo-color {
  color: #212121;
}

.link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}

.link:hover,
.link:focus {
  color: #2196f3;
}

/* hero */
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  /* color: #FFFFFF; */
}

.hero-link:hover,
.hero-link:focus {
  color: #2196f3;
}

.hero-link {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  display: flex;
  text-align: center;
  letter-spacing: 0.06em;
}

/* skills */
.skills-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #212121;
}

.description-skills {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
}

/* our offers */
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.offers-item {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;

  background: rgba(47, 48, 58, 0.8);
  border-radius: 0px 0px 4px 4px;
}

/* our team */
.team {
  background: #f5f4fa;
}
.team-photo {
  background: url(h1-team-img-4.jpg);
  border-radius: 4px 4px 0px 0px;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.team-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

.team-link:hover,
.team-link:focus {
  color: #2196f3;
}

.team-link {
  color: #afb1b8;
}

/* customers */
.customers-link:hover,
.customers-link:focus {
  color: #2196f3;
}

/* footer */
.footer {
  background: #2f303a;
}

.footer-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.18x;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.footer-logo-color {
  color: #ffffff;
}

.address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.address-link:hover,
.address-link:focus {
  color: #2196f3;
}

.address-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14x;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.social-link:hover,
.social-link:focus {
  color: #2196f3;
}

.social-link {
  color: #ffffff;
}

.footer-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  text-align: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.4);
}

/* portfolio */

.button:hover,
.button:focus {
  color: #2196f3;
}

.button {
  font-family: inherit;
}

.li_title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: #212121;
}

.text {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;

  color: #757575;
}
.texthover {
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;

  background-color: #757575;
  color: #ffffff;
}
